/* Navigation Menu */
#navbar{
    flex-direction: column;
    
}
#navbar ul li a {
    font-size: 1rem;
    padding: 0px;
    margin: 14px;
    padding-bottom: 8px;
}


/* Home */

#home {
    height: 280px;
    padding: 16px 15px;
    
}
#home::before{
    height: 500px;
}

#home p {
    font-size: 14px;
}

/* Services Section  */
#services {
flex-direction: column;

}
#services .box {
    margin: 5px 5px;
    padding: 12px;
}



/* Client section */
#clients {
    flex-wrap: wrap;
   
}
#clients img {
    width: 85px;
    height: auto;
    padding: 0px 13px;
}

/* Contact Section  */

#contact-box form{
    width: 60%;
}

#contact-section h1 {
    margin: 10px;
}

/* Footer  */


/* Utility Classes  */

.heading-primary {
    font-size: 30px;
}
.btn{
    font-size: 22px;
    padding: 8px 14px;
    margin: 30px
}